name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Build and Restart Container
      run: |
        docker stop myapp || true
        docker rm myapp || true
        docker build -t myapp .
        docker run -d --restart unless-stopped -p 80:3000 --name myapp myapp
